AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
BEDROCK_MODEL_ID=google.gemma-3-12b-it
BEDROCK_REGION=us-east-1
DYNAMODB_REGION=us-east-1
DYNAMODB_TABLE=StudyTwinPredictions
FRONTEND_URL=https://ai-bharat-educational-platform.vercel.app
NODE_ENV=development
PORT=3001
S3_BUCKET_NAME=edulearn-books-storage
S3_REGION=ap-south-1
VIDEOS_S3_BUCKET=edulearn-books-storage
VIDEOS_S3_REGION=ap-south-1
